parameters:
  fakerstan:
    fakerProviderFactory: CalebDW\Fakerstan\FakerProviderFactory
parametersSchema:
  fakerstan: structure([
    fakerProviderFactory: string(),
  ])
services:
  - class: CalebDW\Fakerstan\FakerProviderFactory
  default_faker_provider:
    class: CalebDW\Fakerstan\FakerProvider
    factory: @%fakerstan.fakerProviderFactory%::create
  fakerstan_faker_provider: @default_faker_provider
  - class: CalebDW\Fakerstan\ProviderExtension
    tags: [phpstan.broker.methodsClassReflectionExtension]
    arguments:
      fakerProvider: @fakerstan_faker_provider
